*{
  vertical-align: middle;
}

.box {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  background-color: rgb(255,255,255);
  padding: 1em;
}

.slidercontainer {
  padding-bottom: 12px;
  border-color: black;
  border-left : 0px; 
  border-right : 0px;
  border-top : 1px;
  border-bottom: 0px; 
  border-style: solid;
}
.choosecolorcontainer{
  padding-top: 5px;
  border-color: black;
  border-left : 0px; 
  border-right : 0px;
  border-top : 1px;
  border-bottom: 0px; 
  border-style: solid;
}
.scene{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255,255,255);
  z-index: 1;
}
.scene>canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#mirrorSwitchOpt
{
  display: none;
}

#lbMirrorSwitchOpt
{
  display: none;
}

#mirrorSwitch:checked ~ #mirrorSwitchOpt
{
  display: inline-block;
}

#mirrorSwitch:checked ~ #lbMirrorSwitchOpt
{
  display: inline-block;
}

.separateur{
  size:5px;
}